html {
	background-color: #020304;
	color: #541F14;
	font-style: Arial, sans-serif;
}
h1 {
	text-align: center;
}
p {
	font-size: 22px;
	text-align: center;
}
input {
	text-align: center;
}
.header {
	width: 55%;
	margin: 0 auto;
	padding: 5px;
	border-style: solid;
}
.outer {
	width: 100%;
}
.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.centerinput {
	margin: auto;
	width: 10%;
	padding: 10px;
}
a {
	color: #938172;
}
